<div id="main-container">

  <div id="project-menu" class="col-md-3">
    <div id="project-title">Projects:</div>
    <hr>
    <div class="ui button" id="new-project">Create new project</div>
    <div class="ui relaxed divided list">
      <% @projects.each do |project| %>
        <div class="item">
          <div class="content project-list" project-id='<%= project.id %>'>
            <div>
              <div class="project-new-page" project-id="<%= project.id %>">Add Page</div>
              <div class="project-name"><%= project.name %></div>
            </div>
            <% project.pages.each do |page| %>
            <%#binding.pry%>
              <div class="ui button content page-list" page-id='<%= page.id %>'>
                <%= page.title %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="workspace" class="col-md-6">
    <div id="page-title">Select Page</div>
    <hr>
    <div id="search-container">
      <!-- two forms for different type of search, render ajax on the go -->
      <div id="search-regex">

      </div>

      <div id="search-select">
        <%= form_tag "/search_select", method: "post", class: "ui form" do %>
          <select name="highlighters" class="ui multiple selection dropdown" multiple="">
            <option value="">Highlighters</option>
            <% @highlighters.each do |highlighter| %>
              <option value="<%= highlighter.id %>"><%= highlighter.name %></option>
            <% end %>
          </select>

          <select name="pages" class="ui multiple selection dropdown" multiple="">
            <option value="">Pages</option>
            <% @pages.each do |page| %>
              <option value="<%= page.id %>"><%= page.title %></option>
            <% end %>
          </select>
          <%= submit_tag "Search", class: "ui button" %>
        <%end%>
      </div>

    </div>
    <div id="page-container">
      <span id="page-content"></span>
    </div>
  </div>

  <div id="highlighter-menu" class="col-md-3">
    <div id="highlighter-title">Highlighter</div>
    <hr>
    <div id="highlighter-listing"></div>
  </div>

</div>
<!-- <div id="popUpBck"></div> -->

<div class="ui modal" id="new-highlighter-modal">
  <i class="close icon"></i>
  <div class="header">
    Create new Highlighter
  </div>
  <div class="input content">
    <div class="preview input"></div>
    <div class="ui container center aligned">
      <input class="ui input new-highlighter" type="text" name="name" placeholder="Highlighter name">
    </div>
    <div class="ui container center aligned">
      <input class="ui input new-highlighter" type="color" name="color" value="#ff0000">
      <input class="ui input new-highlighter" type="color" name="backgroundColor" value="#ff0000">
    </div>
  </div>
  <div class="actions">
    <div id="close-highlighter" class="ui button">Cancel</div>
    <input id="submit-highlighter" class="ui button" type="submit">
  </div>
</div>
