<div class="projects main-container">

  <div id="project-menu" class="col-md-3">
    <div id="project-title">Projects:</div>
    <hr>
    <div class="ui button" id="new-project">Create new project</div>
    <div class="ui relaxed divided list">
      <% @projects.each do |project| %>
        <div class="item">
          <div class="content project-list" project-id='<%= project.id %>'>
            <div>
              <div class="new-page" project-id="<%= project.id %>">Add Page</div>
              <div class="project-name"><%= project.name %></div>
            </div>
            <% project.pages.each do |page| %>
            <%#binding.pry%>
              <div class="ui button content page-list" page-id='<%= page.id %>'>
                <%= page.title %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="workspace" class="col-md-6">
    <div id="page-title">Select Page</div>
    <hr>

    <div id="page-container">
      <span id="page-content"></span>
    </div>
  </div>

  <div id="highlighter-menu" class="col-md-3">
    <div id="right-menu-title">
      <span class="right-menu toggler on highlighter">Highlighter</span>
      /
      <span class="right-menu toggler off search">Search</span>
    </div>
    <hr>
    <div id="highlighter-listing"></div>
  </div>

</div>

<div class="ui modal" id="new-highlighter-modal">
  <i class="close icon"></i>
  <div class="header">
    Create New Highlighter
  </div>
  <div class="input content">
    <div class="preview input highlighter center aligned">Highlighter name</div>
    <div class="ui small input container center aligned highlighter">
      <input class="highlighter input name" type="text" name="name" placeholder="Highlighter name">
    </div>
    <div class="ui container center aligned color">
      <div class="highlighter color input-wrap">
        <label for="color">Text Color</label>
        <input class="highlighter input color" type="color" name="color" value="#000000">
      </div>
      <div class="highlighter color input-wrap">
        <label for="backgroundColor">Background Color</label>
        <input class="highlighter input backgroundColor" type="color" name="backgroundColor" value="#FFFF00">
      </div>
    </div>
  </div>
  <div class="actions">
    <div id="close-highlighter" class="ui button">Cancel</div>
    <input id="submit-highlighter" class="ui button primary" type="submit">
  </div>
</div>

<div class="ui modal" id="new-page-modal" project-id="">
  <i class="close icon"></i>
  <div class="header">
    Create New Page
  </div>

  <form class="ui form">
    <div class="field">
      <label>Title</label>
      <input id="new-page-title" type="text" name="title" placeholder="Page Title">
    </div>
    <div class="field">
      <label>Content</label>
      <textarea id="new-page-content" name="content" placeholder="Page Content..."></textarea>
      <!-- <input type="text" name="last-name" placeholder="Last Name"> -->
    </div>
    <div class="field">
      <div id="close-page" class="ui button">Cancel</div>
      <input id="submit-page" class="ui button primary" type="submit">
    </div>
  </form>
</div>

<div class="ui modal" id="new-project-modal">
  <i class="close icon"></i>
  <div class="header">
    Create New project
  </div>
  <div class="ui input content">
    <input class="new-project-input" type="text" name="name" placeholder="Project name">
  </div>
  <div class="actions">
    <div id="close-project" class="ui button">Cancel</div>
    <input id="submit-project" class="ui button primary" type="submit">
  </div>
</div>

<div class="ui modal" id="note-modal" highlight-id="">
  <i class="close icon"></i>
  <div class="header">
    <span>Notes for </span>
    <span class="highlight-name note"></span>
  </div>
  <div id="note-display"></div>
  <form class="ui form">
    <div class="field">
      <label>Note</label>
      <textarea id="new-note-content" name="content" placeholder="Note..."></textarea>
      <!-- <input type="text" name="last-name" placeholder="Last Name"> -->
    </div>
    <div class="field">
      <div id="close-note" class="ui button">Cancel</div>
      <input id="submit-note" class="ui button primary" type="submit">
    </div>
  </form>
</div>
